**.DS_Store

# R history and session files
**.RData
**.Rout

# latex processing files
**.aux
**.fdb_latxmk
**.fls
**.log
**.synctex.gz
**.out
**.fdb_latexmk

# don't check rendered site into git
/.quarto/
/_site/

# Student Info from Canvas
EC327names.csv
**\ Student\ Analysis\ Report.csv
**_Grades-*.csv

